node_modules/
coverage/
dist/
*.log

# Ignore JetBrains specific files
.idea

# Ignore local pyenv
.python-version

# Ignore VSCode specifics
.vscode

jest.config.js*
db/dumps/meteor
db/manager/*.js*
