node_modules/
coverage/
dist/
*.log

# Ignore JetBrains specific files
.idea

# Ignore local pyenv
.python-version

# Ignore VSCode specifics
.vscode

# Ignore database manager js*
database/dumps/meteor
database/manager/*.js*
