node_modules/
coverage/
dist/
*.log

# Ignore JetBrains specific files
.idea

# Ignore local pyenv
.python-version

# Ignore VSCode specifics
.vscode

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
